.App {
  text-align: center;
}

img {
  height: 170px;
  width: 170px;
  margin: 8px 25px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
}

.container {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 13.3%;
  text-align: center;
} 

